{% extends 'layout/base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="container">
    <h1>{{ title }}</h1>
    <div class="row">
        <div class="col">
            <h2>lenta.ru</h2>
            {% for news in lenta %}
            <p>
            {{ news.time }}
            <a href="{{ news.href }}">{{ news.title }}</a>
            </p>
            {% endfor %}
        </div>
        <div class="col">
            <h2>TJ</h2>
            {% for news in tjournal %}
            <p>
            {{ news.time }}
            <a href="{{ news.href }}">{{ news.title }}</a>
            </p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}